venv/
__pycache__/
.env
ml_models/
data/
.DS_Store
node_modules/
dist/
build/
target/
.env.*
*.log
*.pyc
.ipynb_checkpoints/
.vscode/
.idea/
.venv/
**/.venv/
guardian_crime_urls.txt
AWSCLIV2.pkg
.ruff_cache
package/
deployment.zip
